<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<div id="app">
			<p>单个复选框:</p>
			<input type="checkbox" id="checkbox" v-model="checked" />
			<label for="checkbox">{{checked}}</label>
			
			<p>多个复选框：</p>
			<input type="checkbox" id="x" value="xxx" v-model="checkedNames"/>
			<label for="x">xxx</label>
			<input type="checkbox" id="y" value="yyy" v-model="checkedNames"/>
			<label for="y">yyy</label>
			<input type="checkbox" id="z" value="zzz" v-model="checkedNames"/>
			<label for="z">zzz</label>
			<br>
  			<span>选择的值为: {{ checkedNames }}</span>
		</div>
		<script type="text/javascript">
			var app=new Vue({
				el:"#app",
				data:{
					checked : false,
					checkedNames:[]
				}
			});
		</script>
	</body>
</html>
